.simg {
  object-fit: contain;
  width: 80%;
  height: auto;
  margin-left: 10%;
}

@media screen and (max-width: 760px) {
  .simg {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-left: -1%;
  }
}
