.Card:hover {
  transform: scale(1.1);
  transition: all 0.25s linear;
}

.card {
  border-radius: 30px;
}

.card-img {
  border-radius: 25px;
}

.bg {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #fff9fd,
    #fff2f3,
    #ffede3,
    #f6ecd5
  );
}
